<html>
 <head>
  <title>Kawaii</title>
 </head>
 <body>
  <div>
   <h1><a href="">Djangoboys blog</a></h1>
  </div>
  
  <div>
   <p>Published: 28.07.2016, 00:01</p>
   <h2><a href="">Initial post</a></h2>
   <p>Neque purus lectus luctus magna curae netus mattis id sapien faucibus adipiscing integer eni. Risus velit. Curae morbi vel amet etiam natoque egestas massa ut enim. Donec massa aptent dignissim lacinia felis parturient integer. Lorem morbi massa ullamcorper mi luctus ante. Velit curae magna lectus cras erat fringilla fermentum quam sapien. Morbi proin pede hac leo conubia. Dolor velit aptent ve et ut malesuada enim dictum et. Netus neque nam orci pede leo pellentesque. Lorem etiam. Massa risus. Magna metus auctor ridiculus felis est natoque est in fusce sapien. Neque dolor a erat metus massa rutrum platea vivamus. Purus risus lacus. Etiam proin primis. Risus lorem scelerisque amet elit sem dis. Massa etiam. Dolor augue.</p>
  </div>
  
    <div>
   <p>Published: 28.07.2016, 00:02</p>
   <h2><a href="">Second post</a></h2>
   <p>Neque purus lectus luctus magna curae netus mattis id sapien faucibus adipiscing integer eni. Risus velit. Curae morbi vel amet etiam natoque egestas massa ut enim. Donec massa aptent dignissim lacinia felis parturient integer. Lorem morbi massa ullamcorper mi luctus ante. Velit curae magna lectus cras erat fringilla fermentum quam sapien. Morbi proin pede hac leo conubia. Dolor velit aptent ve et ut malesuada enim dictum et. Netus neque nam orci pede leo pellentesque. Lorem etiam. Massa risus. Magna metus auctor ridiculus felis est natoque est in fusce sapien. Neque dolor a erat metus massa rutrum platea vivamus. Purus risus lacus. Etiam proin primis. Risus lorem scelerisque amet elit sem dis. Massa etiam. Dolor augue.</p>
  </div>
 </body>
</html>
